In [1]:
import requests as rq
import pandas as pd
from datetime import datetime as dt, timedelta as td
import json as js

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 150)

In [ ]:
url = "https://raw.githubusercontent.com/tofrie03/ML_Assignment/refs/heads/main/Material/strompreise_spanien_2024-01-01%2000%3A00%3A00-2025-04-01%2000%3A00%3A00.csv"

test = "test.csv"

df = pd.read_csv(url)

print(df)

def clean_data(df):
    try:
        # Ensures that the datetime column is in datetime-format
        df["datetime"] = pd.to_datetime(df["datetime"])

        # Counts the number of na values in each column
        value_na, percentage_na, datetime_na = pd.isna(df).sum()
        if value_na != 0:
            df["value"].fillna(df["value"].mean(), inplace=True)
            print(f"Filled NA values in 'value' column with mean: {df['value'].mean()}")
        if percentage_na != 0:
            df["percentage"].fillna(df["percentage"].mean(), inplace=True)
            print(f"Filled NA values in 'percentage' column with mean: {df['percentage'].mean()}")
        total_na = pd.isna(df).sum().sum()
        print(total_na, total_na.dtype)
        if total_na != 0:
            print(f"Total NA values in the dataframe: {total_na}")
        else:
            print("No NA values found in the dataframe.")
    except Exception as e:
        return e
        

clean_data(df)

print(df)

        value  percentage                       datetime
0      123.83    0.661626  2024-01-01T00:00:00.000+01:00
1      111.11    0.689268  2024-01-01T01:00:00.000+01:00
2      110.77    0.699880  2024-01-01T02:00:00.000+01:00
3      109.28    0.715277  2024-01-01T03:00:00.000+01:00
4      110.16    0.721604  2024-01-01T04:00:00.000+01:00
...       ...         ...                            ...
10957  304.49    0.674725  2025-03-31T20:00:00.000+02:00
10958  364.82    0.649065  2025-03-31T21:00:00.000+02:00
10959  209.25    0.635825  2025-03-31T22:00:00.000+02:00
10960  182.58    0.657733  2025-03-31T23:00:00.000+02:00
10961  131.90    0.594412  2025-04-01T00:00:00.000+02:00

[10962 rows x 3 columns]
0 int64
No NA values found in the dataframe.
        value  percentage                   datetime
0      123.83    0.661626  2024-01-01 00:00:00+01:00
1      111.11    0.689268  2024-01-01 01:00:00+01:00
2      110.77    0.699880  2024-01-01 02:00:00+01:00
3      109.28    0.715277  2024-01-01 03:00:00+01:00
4      110.16    0.721604  2024-01-01 04:00:00+01:00
...       ...         ...                        ...
10957  304.49    0.674725  2025-03-31 20:00:00+02:00
10958  364.82    0.649065  2025-03-31 21:00:00+02:00
10959  209.25    0.635825  2025-03-31 22:00:00+02:00
10960  182.58    0.657733  2025-03-31 23:00:00+02:00
10961  131.90    0.594412  2025-04-01 00:00:00+02:00

[10962 rows x 3 columns]

/var/folders/lb/mmcr7_ys4554kcv8tfwj32b00000gn/T/ipykernel_14099/3135170908.py:12: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df["datetime"] = pd.to_datetime(df["datetime"])